{% extends 'site_content.html' %}
{% load static %}


<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    </div>
    {% endfor %}
{% endif %}
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Muertes</div>
                        <div id="div_muertes" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Nacimientos</div>
                        <div id="div_nacimientos" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Pending Requests Card Example -->
     <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Ventas</div>
                        <div id='div_ventas' class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
    import { getDatabase, ref, set, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-database.js";
    var campo_id = '{{campo_id}}'
    var fecha = '{{fecha}}'
    
    var firebaseConfig = {
      'apiKey': 'AIzaSyCtmZkZYXrhbihvJiQC4gjvJAIM27eDpvM',
      'authDomain': 'dss-campo.firebaseapp.com',
      'databaseURL': 'https://dss-campo-default-rtdb.firebaseio.com',
      'projectId': 'dss-campo',
      'storageBucket': 'dss-campo.appspot.com',
      'messagingSenderId': '371707726278',
      'appId': '1:371707726278:web:6e7053e506f660139bcac7'
    };

    const app = initializeApp(firebaseConfig);
    const db = getDatabase();
    console.log(fecha)
    console.log(campo_id)
    const campoRef = ref(db, 'campo/'+campo_id+'/'+fecha);
    onValue(campoRef, (snapshot) => {

        const data = snapshot.val();
        $('#div_muertes').html(data.MUERTES);
        $('#div_nacimientos').html(data.NACIMIENTOS);
        $('#div_ventas').html(data.VENTAS);
    });
  </script>

{% endblock %}