{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

    <style>
        #map { 
            height: 400px; 
        }
    </style>
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Carga de Datos</h1>
    </div>




    <!--Mapas-->
    <div class='row'>
        <h6>Mapas</h6>
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>

    <!--Mapas-->
    <script>

        var sondas = []
        if ('{{sondas|safe}}'){
            sondas = JSON.parse('{{sondas|safe}}')
        }

        //Creo un mapa
        var map = L.map('map').setView([-43.36, -68.58], 6);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        //Agrego al mapa todos los marcadores de sondas del INTA
        $.each(sondas, function(key,valueObj){
                console.log(valueObj.nombre)
                marker = L.marker([valueObj.latitud, valueObj.longitud])
                marker.on('mouseover',function(ev){
                    this.openPopup();
                    //marker.setIcon(bigIcon);
                })
                marker.on('click',function(){
                    alert(this.getLatLng())
                })
                marker.addTo(map)
                        .bindPopup(valueObj.nombre)
        });

        
    </script>
    <!-- Demo de charts-->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js'' %}"></script>


{% endblock %}
