{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

{% if formulario_produccion %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Carga de datos de produccion</h1>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        Desde archivo local
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        Carga de Formulario
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-2 px-sm-3 mt-2 mb-3" style="width: 25rem;"
                                src="{% static 'img/undraw_Add_files_re_v09g.svg' %}" alt="...">
                        </div>
                        <form id="form_subir_archivo_produccion" action="{% url 'carga_datos_produccion' %}" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="archivo_csv" id="archivo_csv" required>
                            <button type="button" class="btn btn-primary" onclick="openModal()">Cargar</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                    aria-labelledby="pills-profile-tab">
                    <br>
                    <form class="user" method='POST' action="{% url 'carga_datos_produccion' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.periodo}}
                                {% if formulario_produccion.periodo.errors %}
                                {% for error in formulario_produccion.periodo.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_corderos}}
                                {% if formulario_produccion.cantidad_corderos.errors %}
                                {% for error in formulario_produccion.cantidad_corderos.errors %}
                                <ul class="form-group alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_ovejas}}
                                {% if formulario_produccion.cantidad_ovejas.errors %}
                                {% for error in formulario_produccion.cantidad_ovejas.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_carneros}}
                                {% if formulario_produccion.cantidad_carneros.errors %}
                                {% for error in formulario_produccion.cantidad_carneros.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_pariciones}}
                                {% if formulario_produccion.cantidad_pariciones.errors %}
                                {% for error in formulario_produccion.cantidad_pariciones.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_muertes_corderos}}
                                {% if formulario_produccion.cantidad_muertes_corderos.errors %}
                                {% for error in formulario_produccion.cantidad_muertes_corderos.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_lana_producida}}
                                {% if formulario_produccion.cantidad_lana_producida.errors %}
                                {% for error in formulario_produccion.cantidad_lana_producida.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-groupcol-md-6 col-sm-6">
                                {{formulario_produccion.cantidad_carne_producida}}
                                {% if formulario_produccion.cantidad_carne_producida.errors %}
                                {% for error in formulario_produccion.cantidad_carne_producida.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}

                            </div>
                            <br>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.rinde_lana}}
                                {% if formulario_produccion.rinde_lana.errors %}
                                {% for error in formulario_produccion.rinde_lana.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                {{formulario_produccion.finura_lana}}
                                {% if formulario_produccion.finura_lana.errors %}
                                {% for error in formulario_produccion.finura_lana.errors %}
                                <ul class="alert alert-warning alert-dismissible">
                                    <li class="text-danger">
                                        <span class="text-danger">
                                            {{ error }}
                                        </span>
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-user">
                                    Guardar Datos
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div id="modal_confirmacion" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        <b>Confirma</b>
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirma los datos ingresados?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="sumbitFormArchivoProduccion()">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openModal() {
            $('#modal_confirmacion').modal('show');
        }
        function sumbitFormArchivoProduccion() {
            if ($("#form_subir_archivo_produccion")[0].reportValidity()) {
                $('#form_subir_archivo_produccion').submit();
            }
        }
    </script>
{% endif %}

{% endblock %}