{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block chart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
{% endblock %}


{% block site_content %}

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hola {{user}}</h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h5 mb-0 text-gray-800">Infomación del último registro</h1>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Muertes</div>
                        <div id="div_muertes" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <img src="{% static 'img/muerte.png' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Nacimientos</div>
                        <div id="div_nacimientos" class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Pending Requests Card Example -->
     <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Ventas</div>
                        <div id='div_ventas' class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card" style="color: #4B515D; border-radius: 35px;">
            <div class="card-body p-4">
                <div class="d-flex">
                <h6 class="flex-grow-1">{{localidad}}</h6>
                <h6>{{timestamp}}</h6>
                </div>
                <div class="d-flex flex-column text-center mt-5 mb-4">
                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{temperatura}}°C </h6>
                <span class="small" style="color: #868B94">Stormy</span>
                </div>
                <div class="d-flex align-items-center">
                <div class="flex-grow-1" style="font-size: 1rem;">
                    <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{viento}} m/s
                    </span></div>
                    <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{humedad}}% </span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

</div>


<!-- GRAFICOS LLUVIA Y CAMPO OCUPADO -->
<div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lluvia Acumulada</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="canvas" style="display: block; width: 500px; height: 500px;" width="500" height="500"
                        class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ocupación del campo (Hectáreas)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="canvas_ocupacion_campo" style="display: block; width: 300px; height: 300px;" width="300"
                        height="300" class="chartjs-render-monitor"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    {% if ha_excedidas == 0 %}
                    <span class="mr-2">
                        <i class=""></i>
                    </span>
                    {% else %}
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> Está excedido {{ha_excedidas}} ha
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/Chart.BarFunnel.js' %}"></script>

<script>

    var nombre_meses = JSON.parse('{{nombres_meses|safe}}');
    var lluvias = JSON.parse("{{lluvias_mensuales|safe}}");

    var barChartData = {
        labels: nombre_meses,
        datasets: [
            {
                label: 'Mm lLuvia',
                data: lluvias,
                backgroundColor: "#2c3f5a",
                borderColor: '#1b222f'
            }
        ]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas')
        var chart = new Chart(ctx, {
            type: 'barFunnel',
            data: barChartData,
            options: {
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each bar to be 2px wide and green
                elements: {
                    rectangle: {
                        borderWidth: 2,
                        borderColor: '#1b222f',
                        borderSkipped: 'bottom',
                        stepLabel: {
                            display: true,
                            fontSize: 13,
                            color: "black"
                        },
                    }
                },
                region: {
                    display: true
                },
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'top',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: false,
                    text: 'Chart.js Bar Funnel Chart'
                }
            }
        });
    }
</script>

<script>

    var datos = ["{{ha_ocupadas|safe}}", "{{ha_libres|safe}}"]
    var nombres = ['Ha Ocupadas', 'Ha Libres']

    const data = {
        labels: nombres,
        datasets: [
            {
                label: 'Dataset 1',
                data: datos,
                backgroundColor: ['#49678d', '#2271b3'],
            }
        ]
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                    text: 'Chart.js Doughnut Chart'
                }
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,

            },
            gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
            },
        },

    };

    var canvas_doughnut = document.getElementById('canvas_ocupacion_campo').getContext("2d");
    window.myDoughnut = new Chart(canvas_doughnut, config);
</script>


<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
    import { getDatabase, ref, set, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-database.js";
    var campo_id = '{{campo_id}}'
    var fecha = '{{fecha}}'
    
    var firebaseConfig = {
      'apiKey': 'AIzaSyCtmZkZYXrhbihvJiQC4gjvJAIM27eDpvM',
      'authDomain': 'dss-campo.firebaseapp.com',
      'databaseURL': 'https://dss-campo-default-rtdb.firebaseio.com',
      'projectId': 'dss-campo',
      'storageBucket': 'dss-campo.appspot.com',
      'messagingSenderId': '371707726278',
      'appId': '1:371707726278:web:6e7053e506f660139bcac7'
    };

    const app = initializeApp(firebaseConfig);
    const db = getDatabase();
    console.log(fecha)
    console.log(campo_id)
    const campoRef = ref(db, 'campo/'+campo_id+'/'+fecha);
    onValue(campoRef, (snapshot) => {

        const data = snapshot.val();
        $('#div_muertes').html(data.MUERTES);
        $('#div_nacimientos').html(data.NACIMIENTOS);
        $('#div_ventas').html(data.VENTAS);
    });
  </script>

{% endblock %}