{% extends 'site_content.html' %}
{% load static %}
{% load clima_actual %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block chart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
{% endblock %}


{% block site_content %}
{% clima_actual user as clima_dict %}

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hola, {{user}}</h1>
</div>
<p class="mb-4">{% now "d/m" %}  | Información actualizada de tu campo: <span class="badge badge-secondary">"{{campo.nombre}}"</span></p>
<hr class="sidebar-divider my-0">
<br>
<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Corderos 
                        </div>
                        <div id="diaria_corderos" class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-auto">
                      <img src="{% static 'img/cordero.png' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Carneros</div>
                        <div id="diaria_carneros" class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-auto">
                      <img src="{% static 'img/carnero.png' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Pending Requests Card Example -->
     <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Ovejas</div>
                        
                        <div id="diaria_ovejas" class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-auto">
                      <img src="{% static 'img/oveja.png' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Kg. Lana acumulados</div>
                        <div id="historico_lana" class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                    </div>
                    <div class="col-auto">
                      <img src="{% static 'img/oveja_lana.jpeg' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr class="sidebar-divider my-0">
<br>


<!-- GRAFICOS LLUVIA Y CAMPO OCUPADO -->
<div class="row">
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mi ubicacion</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               <!--MAPAA-->
               <div class="row">
                <div class="col-md-8">
                    <div id="map" style="width: 300px; height: 300px;" width="500" height="300"></div>
               </div>
               <div class="col-md-4">
                    <a href="#" class="btn btn-sm btn-primary btn-icon-split" data-toggle="tooltip" data-placement="right" title="Localidad">
                        <span class="icon">
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                        </span>
                        <span class="text">{{clima_dict.localidad}}</span>
                    </a>
                    <a href="#" class="btn btn-sm btn-light btn-icon-split" data-toggle="tooltip" data-placement="right" title="Temperatura actual">
                        <span class="icon text-gray-600">
                            <i class="fas fa-temperature-low fa-fw"></i>
                        </span>
                        <span class="text"> {{clima_dict.temperatura}}° C</span>
                    </a>
                    <a href="#" class="btn btn-sm btn-light btn-icon-split" data-toggle="tooltip" data-placement="right" title="Velocidad viento">
                        <span class="icon text-gray-600">
                            <i class="fas fa-wind fa-fw"></i>
                        </span>
                        <span class="text"> {{clima_dict.velocidad_viento}} m/s</span>
                    </a>
                    <a href="#" class="btn btn-sm btn-light btn-icon-split" data-toggle="tooltip" data-placement="right" title="Humedad">
                        <span class="icon text-gray-600">
                            <i class="fas fa-tint fa-fw"></i> 
                        </span>
                        <span class="text"> {{clima_dict.humedad}} %</span>
                    </a>
               </div>
               </div>
               
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lluvia Acumulada</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="canvas" style="display: block; width: 500px; height: 500px;" width="500" height="500"
                        class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Animales y Hectáreas
                </h6>
                <span id="span_ocupacion_campo" class="badge"></span>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="canvas_ocupacion_campo" style="display: block; width: 300px; height: 300px;" width="300"
                        height="300" class="chartjs-render-monitor"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    {% if ha_excedidas == 0 %}
                        <span id="span_hectareas_ocupadas" class="mr-2">
                            Hectáreas ocupadas: {{hectareas_ocupadas}} de {{campo.cant_hectareas}}
                        </span>
                    {% else %}
                        <span id="span_hectareas_ocupadas" class="mr-2">
                            <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Le faltan {{ha_excedidas}} Ha para sus animales
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/Chart.BarFunnel.js' %}"></script>

<script>
    var nombre_meses = {{nombres_meses|safe}}
    var lluvias = {{lluvias_mensuales|safe}}
    var barChartData = {
        labels: nombre_meses,
        datasets: [
            {
                label: 'Mm lLuvia',
                data: lluvias,
                backgroundColor: "#2c3f5a",
                borderColor: '#1b222f'
            }
        ]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas')
        var chart = new Chart(ctx, {
            type: 'barFunnel',
            data: barChartData,
            options: {
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each bar to be 2px wide and green
                elements: {
                    rectangle: {
                        borderWidth: 2,
                        borderColor: '#1b222f',
                        borderSkipped: 'bottom',
                        stepLabel: {
                            display: false, //descomentar esto si mostramos el porcentaje de lluvia
                            fontSize: 13,
                            color: "black"
                        },
                    }
                },
                region: {
                    display: true
                },
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'top',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 20,
                            maxTicksLimit: 40,
                            beginAtZero: true,
                            padding: 2,
                        }
                    }]
                },
                title: {
                    display: false,
                    text: 'Chart.js Bar Funnel Chart'
                }
            }
        });
    }
</script>

<script>
    function update_grafico_ocupacion(animales_reales){
        var ha_campo = "{{campo.cant_hectareas}}"
        var CANT_ANIMALES_HA = 15
        var animales_ideales = ha_campo * CANT_ANIMALES_HA
        var hectareas_ocupadas = Math.round(animales_reales / CANT_ANIMALES_HA)
        var porcentaje_ha_libres = Math.round((animales_ideales - animales_reales)/animales_ideales * 100) //round a todo
        var porcentaje_ha_ocupadas = 100 - porcentaje_ha_libres
        var cantidad_ha_faltante = 0

        if (porcentaje_ha_ocupadas >= 100){
            cantidad_ha_faltante = Math.round(Math.abs((animales_ideales - animales_reales)/CANT_ANIMALES_HA)) // round + asb
            porcentaje_ha_libres = 0
            porcentaje_ha_ocupadas = 100
        }
        var _hectareas_libres = ha_campo - hectareas_ocupadas
        var hectareas_libres = _hectareas_libres >= 0? _hectareas_libres : 0
        color = '#1cc88a'
        $('#span_ocupacion_campo').removeClass()
        if (porcentaje_ha_ocupadas <=25){
            $('#span_ocupacion_campo').addClass('badge badge-success')
        }
        if (porcentaje_ha_ocupadas > 25 & porcentaje_ha_ocupadas <=50){
            color = '#4e73df'
            $('#span_ocupacion_campo').addClass('badge badge-primary')
        }
        if (porcentaje_ha_ocupadas >50  & porcentaje_ha_ocupadas <= 75){
            color = '#f6c23e'
            $('#span_ocupacion_campo').addClass('badge badge-warning')
        }
        if (porcentaje_ha_ocupadas >75 ){
            color = '#e74a3b'
            $('#span_ocupacion_campo').addClass('badge badge-danger')
        }
        if (cantidad_ha_faltante == 0){
            $('#span_hectareas_ocupadas').html('')
            $('#span_hectareas_ocupadas').html('Hectáreas ocupadas: ' + hectareas_ocupadas + ' de ' + ha_campo)
        }
        else{
            var str = `  
            <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Le faltan `+ cantidad_ha_faltante + ` Ha para sus animales`
            $('#span_hectareas_ocupadas').html('')
            $('#span_hectareas_ocupadas').html(str)       
        }
        $('#span_ocupacion_campo').html('')
        $('#span_ocupacion_campo').html('Ocupación al ' +porcentaje_ha_ocupadas+'%')
        window.myDoughnut.data.datasets[0] = {label: 'Dataset 1', data: [hectareas_ocupadas, hectareas_libres],backgroundColor: [color]}
        window.myDoughnut.update()
    }
</script>
<script>
    var porc_ha_ocupadas = "{{porc_ha_ocupadas|safe}}"
    var hectareas_ocupadas = "{{hectareas_ocupadas|safe}}"
    var hectareas_libres = "{{hectareas_libres|safe}}"

    var datos = [hectareas_ocupadas, hectareas_libres]
    var nombres = ['Hectáreas ocupadas', 'Hectáreas libres']
    color = '#1cc88a'

    if (porc_ha_ocupadas <=25){
        $('#span_ocupacion_campo').addClass('badge-success')
    }
    if (porc_ha_ocupadas > 25 & porc_ha_ocupadas <=50){
        color = '#4e73df'
        $('#span_ocupacion_campo').addClass('badge-primary')
    }
    if (porc_ha_ocupadas >50  & porc_ha_ocupadas <= 75){
        color = '#f6c23e'
        $('#span_ocupacion_campo').addClass('badge-warning')
    }
    if (porc_ha_ocupadas >75 ){
        color = '#e74a3b'
        $('#span_ocupacion_campo').addClass('badge-danger')
    }
    $('#span_ocupacion_campo').html('Ocupación al ' +porc_ha_ocupadas+'%')

    const data = {
        labels: nombres,
        datasets: [
            {
                label: 'Dataset 1',
                data: datos,
                backgroundColor: [color], //'#49678d'],
            }
        ]
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                    text: 'Chart.js Doughnut Chart'
                }
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,

            },
            gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
            },
            
        },

    };

    var canvas_doughnut = document.getElementById('canvas_ocupacion_campo').getContext("2d");
    window.myDoughnut = new Chart(canvas_doughnut, config);
</script>


<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
    import { getDatabase, ref, set, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-database.js";
    var campo_id = '{{campo_id}}'
    var fecha = '{{fecha}}'
    
    var firebaseConfig = {
      'apiKey': 'AIzaSyCtmZkZYXrhbihvJiQC4gjvJAIM27eDpvM',
      'authDomain': 'dss-campo.firebaseapp.com',
      'databaseURL': 'https://dss-campo-default-rtdb.firebaseio.com',
      'projectId': 'dss-campo',
      'storageBucket': 'dss-campo.appspot.com',
      'messagingSenderId': '371707726278',
      'appId': '1:371707726278:web:6e7053e506f660139bcac7'
    };

    const app = initializeApp(firebaseConfig);
    const db = getDatabase();
    console.log(fecha)
    console.log(campo_id)
    const campoRef = ref(db, 'campo/'+campo_id+'/'+fecha);
    var contador = 0
    onValue(campoRef, (snapshot) => {
    if (snapshot.exists()){
        const data_diaria = snapshot.child('diaria').val();
        const data_historico = snapshot.child('historico').val();
        $('#diaria_corderos').html(data_diaria.corderos);
        $('#diaria_ovejas').html(data_diaria.ovejas);
        $('#diaria_carneros').html(data_diaria.carneros);
        var cant_lana = 0
        for(var key in data_historico) {
            var dict2 = data_historico[key]
            cant_lana = cant_lana + parseInt(dict2['lana_producida'])
        }
        $('#historico_lana').html(cant_lana);
        console.log(data_diaria)
        var animales_reales = parseInt(data_diaria.corderos) + parseInt(data_diaria.ovejas) + parseInt(data_diaria.carneros)
        if (contador > 0){
            update_grafico_ocupacion(animales_reales)
        }
        contador = contador + 1
      }
      else{
        $('#diaria_corderos').html('-');
        $('#diaria_ovejas').html('-');
        $('#diaria_carneros').html('-');
        $('#historico_lana').html('-');
      }
      
    });
</script>

<script>
     //Creo un mapa
     var lat = '{{campo.latitud}}'
     var lon = '{{campo.longitud}}'
     var nombre_campo = '{{campo.nombre}}'
     lat = parseFloat(lat.replace(",", "."))
     lon = parseFloat(lon.replace(",", "."))
  
     var redIcon = new L.Icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
      });
  
  
     var map = L.map('map').setView([lat, lon], 5);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
      
      marker = L.marker([lat, lon],{icon: redIcon})
      marker.addTo(map)
      .bindPopup('<div> Campo: <b>' + nombre_campo + '</b>'
                  + '<br> Latitud: <b>' + lat + '</b>'
                  + '<br> Longitud: <b>' + lon + '</b>'
                  + '</div>')
  </script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% endblock %}