{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block chart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
{% endblock %}


{% block site_content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

{% if nombres_meses %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hola {{user}}</h1>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h5 mb-0 text-gray-800">Infomación del último registro</h1>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Ovejas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{cantidad_ovejas}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="{% static 'img/oveja.png' %}" class="img-responsive" width="45" height="45" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Corderos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{cantidad_corderos}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="{% static 'img/cordero.png' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Carneros
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{cantidad_carneros}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="{% static 'img/carnero.png' %}" class="img-responsive" width="45" height="45" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Mortandad
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{mortandad}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="{% static 'img/muerte.png' %}" class="img-responsive" width="55" height="55" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lluvia Acumulada</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="canvas" style="display: block; width: 500px; height: 500px;" width="500" height="500"
                        class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ocupación del campo (Hectáreas)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="canvas_ocupacion_campo" style="display: block; width: 300px; height: 300px;" width="300"
                        height="300" class="chartjs-render-monitor"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class=""></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/Chart.BarFunnel.js' %}"></script>

<script>

    var nombre_meses = JSON.parse('{{nombres_meses|safe}}');
    var lluvias = JSON.parse("{{lluvias_mensuales|safe}}");

    var barChartData = {
        labels: nombre_meses,
        datasets: [
            {
                label: 'Mm lLuvia',
                data: lluvias,
                backgroundColor: "#2c3f5a",
                borderColor: '#1b222f'
            }
        ]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas')
        var chart = new Chart(ctx, {
            type: 'barFunnel',
            data: barChartData,
            options: {
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each bar to be 2px wide and green
                elements: {
                    rectangle: {
                        borderWidth: 2,
                        borderColor: '#1b222f',
                        borderSkipped: 'bottom',
                        stepLabel: {
                            display: true,
                            fontSize: 13,
                            color: "black"
                        },
                    }
                },
                region: {
                    display: true
                },
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'top',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: false,
                    text: 'Chart.js Bar Funnel Chart'
                }
            }
        });
    }
</script>

<script>

    var datos = ["{{ha_ocupadas|safe}}", "{{ha_libres|safe}}"]
    var nombres = ['Ha Ocupadas', 'Ha Libres']

    const data = {
        labels: nombres,
        datasets: [
            {
                label: 'Dataset 1',
                data: datos,
                backgroundColor: ['#49678d', '#2271b3'],
            }
        ]
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                    text: 'Chart.js Doughnut Chart'
                }
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,

            },
            gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
            },
        },

    };

    var canvas_doughnut = document.getElementById('canvas_ocupacion_campo').getContext("2d");
    window.myDoughnut = new Chart(canvas_doughnut, config);
</script>

{%endif%}

{% endblock %}