{% extends 'site_content.html' %}
{% load static %}


<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    </div>
    {% endfor %}
{% endif %}


<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>


<style>

  .like {
    margin-right: 10px;
  }
</style>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalAltaDatos" tabindex="-1" role="dialog" aria-labelledby="modalAltaDatosLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAltaDatosLabel">Alta de datos de produccion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="form-group">
                  <label for="">Periodo</label>
                  <input id="selector_periodo" type="date" class="form-control form-control-user">
                </div>
                {% for columna in columnas1 %}
                <div class="form-group">
                  <label for="">{{columna}}</label>
                  <input type="number" placeholder="{{columna}}" value=0 name="{{columna}}" id="{{columna}}" class="form-control form-control-user">
                </div>
                {% endfor %}
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                {% for columna in columnas2 %}
                <div class="form-group">
                  <label for="">{{columna}}</label>
                  <input type="number" placeholder="{{columna}}" value=0 name="{{columna}}" id="{{columna}}" class="form-control form-control-user">
                </div>
              {% endfor %}
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button id="alta" class="btn btn-sm btn-primary" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>







<div class="card border-left-info shadow h-100 py-2">
  <div class="card-body">
      <div class="row no-gutters align-items-center">
          <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Informacion Actual: {{fecha}}</div>
              <div class="row align-items-center">
                  


                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card  shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                              Corderos 
                                          </div>
                                          <div id="diaria_corderos" class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div class="spinner-border" role="status">
                                              <span class="sr-only">Loading...</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                        <img src="{% static 'img/cordero.png' %}" class="img-responsive" width="55" height="55" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card  shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                              Capones</div>
                                          <div id="diaria_carneros" class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div class="spinner-border" role="status">
                                              <span class="sr-only">Loading...</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                        <img src="{% static 'img/carnero.png' %}" class="img-responsive" width="55" height="55" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>


                      <!-- Pending Requests Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card  shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                              Ovejas</div>
                                          
                                          <div id="diaria_ovejas" class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div class="spinner-border" role="status">
                                              <span class="sr-only">Loading...</span>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                        <img src="{% static 'img/oveja.png' %}" class="img-responsive" width="55" height="55" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  


              </div>
          </div>
          <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
      </div>
  </div>
</div>


<br>
<br>


<div class="card border-left-secondary shadow h-100 py-2">
  <div class="card-body">
          
        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Informacion Historica</div>
        <div id="toolbar">
          <button id="remove" class="btn btn-sm btn-danger" disabled>
            <i class="fa fa-trash"></i> Borrar
          </button>
          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalAltaDatos">Nuevo registro</button>
        </div>
        <table
          id="table"
          data-toolbar="#toolbar"
          data-search="true"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          data-show-export="true"
          data-detail-formatter="detailFormatter"
          data-minimum-count-columns="2"
          data-show-pagination-switch="true"
          data-pagination="true"
          data-page-list="[10, 25, 50, 100, all]"
          data-show-footer="true"
          data-response-handler="responseHandler"
          class= 'table table-striped'
          data-show-checkbox="true"
          data-remember-order="true"
          >
        </table>


  </div>
</div>







<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
  import { getDatabase, ref, set, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-database.js";
  var firebaseConfig = {
    'apiKey': 'AIzaSyCtmZkZYXrhbihvJiQC4gjvJAIM27eDpvM',
    'authDomain': 'dss-campo.firebaseapp.com',
    'databaseURL': 'https://dss-campo-default-rtdb.firebaseio.com',
    'projectId': 'dss-campo',
    'storageBucket': 'dss-campo.appspot.com',
    'messagingSenderId': '371707726278',
    'appId': '1:371707726278:web:6e7053e506f660139bcac7'
  };
  var campo_id = '10'
  const app = initializeApp(firebaseConfig);
  const db = getDatabase();
  const campoRef = ref(db, 'campo/'+campo_id);

    

  var $table = $('#table')
  var $remove = $('#remove')
  var $alta = $('#alta')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.periodo
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }

  function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }

  function checkboxFormatter(index, row){
    return false
  }

  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      height: 550,
      locale: 'es-AR',
      columns: [{title: 'state', field:'state', checkbox: 'true',  formatter: checkboxFormatter},
                {title: 'periodo', field:'periodo', editable:true},
                {title: 'corderos', field:'corderos'},
                {title: 'ovejas', field:'ovejas'},
                {title: 'carneros', field:'carneros'},
                {title: 'pariciones', field:'pariciones'},
                {title: 'muertes_corderos', field:'muertes_corderos'},
                {title: 'lana_producida', field:'lana_producida'},
                {title: 'carne_producida', field:'carne_producida'},
                {title: 'rinde_lana', field:'rinde_lana'},
                {title: 'finura_lana', field:'finura_lana'}],
      sortName:'periodo',
      sortOrder:"desc"
      }
    )
      
    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table',
      function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
      }
    )



    $remove.click(function () {
      var ids = getIdSelections()
        $table.bootstrapTable('remove', {
        field: 'periodo',
        values: ids
      })
      for(var index in ids) {
        var url = 'campo/'+campo_id+'/historico/'+ids[index]
        var dbRef = ref(db, url);
        remove(dbRef).then(() => console.log("Deleted"))
      }
      $remove.prop('disabled', true)
    })


    $alta.click(function () {
      var corderos = $('#diaria_corderos').html()
      var ovejas = $('#diaria_ovejas').html()
      var carneros = $('#diaria_carneros').html()
      var fecha = $('#selector_periodo').val()
      if (!fecha){
        alert("debe ingresar un periodo")
      }
      else{
        var data = {
          'corderos': corderos,
          'ovejas': ovejas,
          'carneros': carneros,
          'pariciones': $('#pariciones').val(),
          'muertes_corderos': $('#muertes_corderos').val(),
          'lana_producida': $('#lana_producida').val(),
          'carne_producida': $('#carne_producida').val(),
          'rinde_lana': $('#rinde_lana').val(),
          'finura_lana': $('#finura_lana').val(),
        }
        var url = 'campo/'+campo_id+'/historico/'+fecha
        var dbRef = ref(db, url);
        update(dbRef, data)
        }
      }
    )
  }

  $(function() {
    initTable()
    $table.bootstrapTable('showLoading')
  })


  
  onValue(campoRef, (snapshot) => {
      const data_diaria = snapshot.child('diaria').val();
      $('#diaria_corderos').html(data_diaria.corderos);
      $('#diaria_ovejas').html(data_diaria.ovejas);
      $('#diaria_carneros').html(data_diaria.carneros);


      var data_list = []
      const data_historico = snapshot.child('historico').val();
      for(var key in data_historico) {
        var data_dict = {}
        data_dict['periodo'] = key
        var dict2 = data_historico[key]
        for(var dato in dict2) {
          data_dict[dato] = dict2[dato]
        }
        data_list.push(data_dict)
      }
      $table.bootstrapTable('load', data_list)
      $table.bootstrapTable('hideLoading')
  });
</script>




{% endblock %}