{% extends 'site_content.html' %}
{% load static %}
{% load clima_actual %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    </div>
    {% endfor %}
{% endif %}


<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>


<style>

  .like {
    margin-right: 10px;
  }
</style>


<!-- Modal edicion ovejas, carneros, corderos -->
<div class="modal fade bd-example-modal-lg" id="modalAltaDatosIniciales" tabindex="-1" role="dialog" aria-labelledby="modalAltaDatosInicialesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" action="alta" id="modalAltaDatosInicialesLabel">Actualizacion de datos diarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="form-group">
          <div class="form-group row">
            
            <div class="col-sm-6 mb-6 mb-sm-0">
              <label for="">Corderos</label>
              <input type="number" value=0 name="ovejas" id="corderos_editable" class="form-control">

              <label for="">Ovejas</label>
              <input type="number" value=0 name="ovejas" id="ovejas_editable" class="form-control">
              
              <label for="">Carneros</label>
              <input type="number" value=0 name="ovejas" id="carneros_editable" class="form-control">

              <label for="">Muertes</label>
              <input type="number" value=0 name="ovejas" id="muertes_editable" class="form-control">

              <label for="">Pariciones</label>
              <input type="number" value=0 name="ovejas" id="pariciones_editable" class="form-control">

            </div>
            <div class="col-sm-6 mb-6 mb-sm-0">
              <label for="">Rinde Lana</label>
              <input type="number" value=0 name="ovejas" id="rinde_lana_editable" class="form-control">

              <label for="">Finura Lana</label>
              <input type="number" value=0 name="ovejas" id="finura_lana_editable" class="form-control">

              <label for="">Kg Carne</label>
              <input type="number" value=0 name="ovejas" id="carne_editable" class="form-control">

              <label for="">Kg Lana</label>
              <input type="number" value=0 name="ovejas" id="lana_producida_editable" class="form-control">
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button id="alta_datos_iniciales" class="btn btn-sm btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalAltaDatos" tabindex="-1" role="dialog" aria-labelledby="modalAltaDatosLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" action="alta" id="modalAltaDatosLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="alert alert-warning alert-dismissible fade" role="alert">
          <div id="alert-body"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="form-group">
                  <label for="">Periodo</label>
                  <input id="selector_periodo" type="date" name="date" class="form-control form-control-user" max='{% yesterday %}'/>
                </div>
                {% for columna in columnas1 %}
                <div class="form-group">
                  <label for="">{{columna}}</label>
                  <input type="number" value=0 name="{{columna}}" id="{{columna}}" class="form-control">
                </div>
                {% endfor %}
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                {% for columna in columnas2 %}
                <div class="form-group">
                  <label for="">{{columna}}</label>
                  <input type="number" value=0 name="{{columna}}" id="{{columna}}" class="form-control">
                </div>
              {% endfor %}
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button id="alta" class="btn btn-sm btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>





<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Datos cargados</h1>
</div>
<p class="mb-4">Información actual e histórica almacenada de su campo</p>
<hr class="sidebar-divider my-0">
<br>

<div class="card border-left-info shadow h-100 py-2">
  <div class="card-body">
      <div class="row no-gutters">
          <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Informacion Actual: {{fecha}}</div>
                
                
                <div class="row align-items-center">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-2 mb-2">
                          <div class="card  shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                              Corderos 
                                          </div>
                                          <div id="diaria_corderos" class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div class="spinner-border" role="status">
                                              <span class="sr-only">Loading...</span>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-2 col-md-2 mb-2">
                          <div class="card  shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                              Carneros</div>
                                          <div id="diaria_carneros" class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div class="spinner-border" role="status">
                                              <span class="sr-only">Loading...</span>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>


                      <!-- Pending Requests Card Example -->
                      <div class="col-xl-2 col-md-2 mb-2">
                          <div class="card  shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                              Ovejas</div>
                                          
                                          <div id="diaria_ovejas" class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div class="spinner-border" role="status">
                                              <span class="sr-only">Loading...</span>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <!----------------------------------------------------------------------->

                    <div class="col-xl-2 col-md-2 mb-2">
                      <div class="card  shadow h-100 py-2">
                          <div class="card-body">
                              <div class="row no-gutters align-items-center">
                                  <div class="col mr-2">
                                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                          Kg Carne</div>
                                      
                                      <div id="diaria_carne_producida" class="h5 mb-0 font-weight-bold text-gray-800">
                                        <div class="spinner-border" role="status">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 col-md-2 mb-2">
                    <div class="card  shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Finura Lana</div>
                                    
                                    <div id="diaria_finura_lana" class="h5 mb-0 font-weight-bold text-gray-800">
                                      <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-2 mb-2">
                  <div class="card  shadow h-100 py-2">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                      Kg Lana</div>
                                  
                                  <div id="diaria_lana_producida" class="h5 mb-0 font-weight-bold text-gray-800">
                                    <div class="spinner-border" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>



              </div>
              <div class="row align-items-center">
                  <div class="col-xl-2 col-md-2 mb-2">
                    <div class="card  shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Muertes</div>
                                    
                                    <div id="diaria_muertes" class="h5 mb-0 font-weight-bold text-gray-800">
                                      <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-md-2 mb-2">
                    <div class="card  shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Nacimientos</div>
                                    
                                    <div id="diaria_pariciones" class="h5 mb-0 font-weight-bold text-gray-800">
                                      <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-md-2 mb-2">
                    <div class="card  shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Rinde</div>
                                    
                                    <div id="diaria_rinde_lana" class="h5 mb-0 font-weight-bold text-gray-800">
                                      <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>


              </div>
          </div>
          <div class="col-auto">
              <button id="btn_editar" class="pull-right btn btn-sm btn-primary">
                <i class="fas fa-edit"></i>
                Editar
              </button>
          </div>
      </div>
  </div>
</div>


<br>
<br>


<div class="card border-left-secondary shadow h-100 py-2">
  <div class="card-body">
          
        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Informacion Historica</div>
        <div id="toolbar">
          <button id="remove" class="btn btn-sm btn-danger" disabled>
            <i class="fa fa-trash"></i> Borrar
          </button>
          <button id="openModal" class="btn btn-sm btn-primary" data-toggle="modal" >Nuevo registro</button>
        </div>
        <table
          id="table"
          data-toolbar="#toolbar"
          data-search="true"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          data-show-export="true"
          data-export-data-type="true"
          data-detail-formatter="detailFormatter"
          data-minimum-count-columns="2"
          data-show-pagination-switch="true"
          data-pagination="true"
          data-page-list="[10, 25, 50, 100, all]"
          data-response-handler="responseHandler"
          class= 'table table-striped'
          data-show-checkbox="true"
          data-remember-order="true"
          >
        </table>


  </div>
</div>







<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
  import { getDatabase, ref, set, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-database.js";
  var firebaseConfig = {
    'apiKey': 'AIzaSyCtmZkZYXrhbihvJiQC4gjvJAIM27eDpvM',
    'authDomain': 'dss-campo.firebaseapp.com',
    'databaseURL': 'https://dss-campo-default-rtdb.firebaseio.com',
    'projectId': 'dss-campo',
    'storageBucket': 'dss-campo.appspot.com',
    'messagingSenderId': '371707726278',
    'appId': '1:371707726278:web:6e7053e506f660139bcac7'
  };
  var campo_id = '{{campo_id}}'
  const app = initializeApp(firebaseConfig);
  const db = getDatabase();
  const campoRef = ref(db, 'campo/'+campo_id);

    

  var $table = $('#table')
  var $remove = $('#remove')
  var $alta = $('#alta')
  var $openModal = $('#openModal')
  var $btn_editar = $('#btn_editar')
  var $alta_datos_iniciales = $('#alta_datos_iniciales')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.periodo
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }

  function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }

  function checkboxFormatter(index, row){
    return false
  }

  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      //exportDataType: 'all',
      height: 550,
      locale: 'es-AR',
      columns: [{title: 'state', field:'state', checkbox: 'true',  formatter: checkboxFormatter},
                {title: 'periodo', field:'periodo', editable:true},
                {title: 'corderos', field:'corderos'},
                {title: 'ovejas', field:'ovejas'},
                {title: 'carneros', field:'carneros'},
                {title: 'pariciones', field:'pariciones'},
                {title: 'muertes', field:'muertes'},
                {title: 'lana_producida', field:'lana_producida'},
                {title: 'carne_producida', field:'carne_producida'},
                {title: 'rinde_lana', field:'rinde_lana'},
                {title: 'finura_lana', field:'finura_lana'}],
      sortName:'periodo',
      sortOrder:"desc"
      }
    )
      
    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table',
      function () {
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
      }
    )

    $table.on('click-row.bs.table',
      function(row, $element, field){
        $('#modalAltaDatosLabel').html('Actualice sus datos') 
        $('#modalAltaDatosLabel').attr('action','actualizar') 
        $('#corderos').val($element.corderos)
        $('#ovejas').val($element.ovejas)
        $('#carneros').val($element.carneros)
        $('#pariciones').val($element.pariciones)
        $('#muertes').val($element.muertes)
        $('#lana_producida').val($element.lana_producida)
        $('#carne_producida').val($element.carne_producida)
        $('#rinde_lana').val($element.rinde_lana)
        $('#finura_lana').val($element.finura_lana)
        $('#selector_periodo').val($element.periodo)
        $('#selector_periodo').attr('disabled', true)
        $('#modalAltaDatos').modal('show')
      }
    )

    $alta_datos_iniciales.click(function(){
      var data = {
        'carneros': parseInt($('#carneros_editable').val())>= 0?parseInt($('#carneros_editable').val()):0,
        'corderos': parseInt($('#corderos_editable').val())>= 0?parseInt($('#corderos_editable').val()):0,
        'ovejas': parseInt($('#ovejas_editable').val())>= 0?parseInt($('#ovejas_editable').val()):0,
        'muertes': parseInt($("#muertes_editable").val())>= 0?parseInt($("#muertes_editable").val()):0,
        'pariciones': parseInt($("#pariciones_editable").val())>= 0?parseInt($("#pariciones_editable").val()):0,
        'rinde_lana': parseInt($("#rinde_lana_editable").val())>= 0?parseInt($("#rinde_lana_editable").val()):0,
        'finura_lana': parseInt($("#finura_lana_editable").val())>= 0?parseInt($("#finura_lana_editable").val()):0,
        'carne_producida': parseInt($("#carne_editable").val())>= 0?parseInt($("#carne_editable").val()):0,
        'lana_producida': parseInt($("#lana_producida_editable").val())>= 0?parseInt($("#lana_producida_editable").val()):0,
      }
      var url = 'campo/'+campo_id+'/diaria/'
      var dbRef = ref(db, url);
      update(dbRef, data)
      $('#modalAltaDatosIniciales').modal('hide')
    })

    $btn_editar.click(function(){
      $('#corderos_editable').val($('#diaria_corderos').html())
      $('#carneros_editable').val($('#diaria_carneros').html())
      $('#ovejas_editable').val($('#diaria_ovejas').html())
      
      $("#muertes_editable").val($("#diaria_muertes").html());
      $("#pariciones_editable").val($("#diaria_pariciones").html());
      $("#rinde_lana_editable").val($("#diaria_rinde_lana").html());
      $("#finura_lana_editable").val($("#diaria_finura_lana").html());
      $("#carne_editable").val($("#diaria_carne_producida").html());
      $("#lana_producida_editable").val($("#diaria_lana_producida").html());

      $('#modalAltaDatosIniciales').modal('show')
    })


    $remove.click(function () {
      var ids = getIdSelections()
        $table.bootstrapTable('remove', {
        field: 'periodo',
        values: ids
      })
      for(var index in ids) {
        var url = 'campo/'+campo_id+'/historico/'+ids[index]
        var dbRef = ref(db, url);
        remove(dbRef).then(() => console.log("Deleted"))
      }
      $remove.prop('disabled', true)
    })

    $openModal.click(function () {
      $('#selector_periodo').removeAttr('disabled')
      $('#modalAltaDatosLabel').html('Alta de datos de produccion') 
      $('#modalAltaDatosLabel').attr('action','alta') 
      $('#corderos').val(0)
      $('#ovejas').val(0)
      $('#carneros').val(0)
      $('#pariciones').val(0)
      $('#muertes').val(0)
      $('#lana_producida').val(0)
      $('#carne_producida').val(0)
      $('#rinde_lana').val(0)
      $('#finura_lana').val(0)
      $('#selector_periodo').val(null)
      $('#modalAltaDatos').modal('show')
    })


    $alta.click(function () {
      //var corderos = $('#diaria_corderos').html()
      //var ovejas = $('#diaria_ovejas').html()
      //var carneros = $('#diaria_carneros').html()
      var fecha = $('#selector_periodo').val()
      //if ($('.modal-title').attr('action') = 'actualizar'){
      // corderos = $('#corderos').val()
      //  ovejas = $('#ovejas').val()
      //  carneros = $('#carneros').val()
      //}
      if (!fecha){
        $('#alert-body').html("Debe ingresar al menos una fecha")
        $('.alert').addClass('show')
      }
      else{
        var data = {
          'corderos': parseInt($('#corderos').val())>=0? parseInt($('#corderos').val()): 0,
          'ovejas': parseInt($('#ovejas').val())>=0? parseInt($('#ovejas').val()): 0,
          'carneros': parseInt($('#carneros').val())>=0? parseInt($('#carneros').val()): 0,
          'pariciones': parseInt($('#pariciones').val())>=0? parseInt($('#pariciones').val()): 0,
          'muertes': parseInt($('#muertes').val())>=0? parseInt($('#muertes').val()): 0,
          'lana_producida': parseInt($('#lana_producida').val())>=0? parseInt($('#lana_producida').val()): 0,
          'carne_producida': parseInt($('#carne_producida').val())>=0? parseInt($('#carne_producida').val()): 0,
          'rinde_lana': parseInt($('#rinde_lana').val())>=0? parseInt($('#rinde_lana').val()): 0,
          'finura_lana': parseInt($('#finura_lana').val())>=0? parseInt($('#finura_lana').val()): 0,
        }
        var url = 'campo/'+campo_id+'/historico/'+fecha
        var dbRef = ref(db, url);
        update(dbRef, data)
        $('#modalAltaDatos').modal('hide')
        }
      }
    )
  }

  $(function() {
    initTable()
    $table.bootstrapTable('showLoading')
  })


  
  onValue(campoRef, (snapshot) => {
      if (snapshot.exists()){
        const data_diaria = snapshot.child('diaria').val();
        const data_historico = snapshot.child('historico').val();
        $('#diaria_corderos').html(data_diaria.corderos);
        $('#diaria_ovejas').html(data_diaria.ovejas);
        $('#diaria_carneros').html(data_diaria.carneros);

        $("#diaria_carne_producida").html(data_diaria.carne_producida);
        $("#diaria_finura_lana").html(data_diaria.finura_lana);
        $("#diaria_lana_producida").html(data_diaria.lana_producida);
        $("#diaria_muertes").html(data_diaria.muertes);
        $("#diaria_pariciones").html(data_diaria.pariciones);
        $("#diaria_rinde_lana").html(data_diaria.rinde_lana);

        var data_list = []
        for(var key in data_historico) {
          var data_dict = {}
          data_dict['periodo'] = key
          var dict2 = data_historico[key]
          for(var dato in dict2) {
            data_dict[dato] = dict2[dato]
          }
          data_list.push(data_dict)
        }
        $table.bootstrapTable('load', data_list)
        $table.bootstrapTable('hideLoading')
      }
      else{
        $('#diaria_corderos').html('-');
        $('#diaria_ovejas').html('-');
        $('#diaria_carneros').html('-');
        $("#diaria_carne_producida").html('-');
        $("#diaria_finura_lana").html('-');
        $("#diaria_lana_producida").html('-');
        $("#diaria_muertes").html('-');
        $("#diaria_pariciones").html('-');
        $("#diaria_rinde_lana").html('-');


        $table.bootstrapTable('hideLoading')
      }
      
  });
</script>




{% endblock %}