{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-10">
    <h2 class="m-0"> Estimacion de {{flag_filtro}} </h2>
  </div>
  <div class="col-md-2">
    <div class="dropdown mb-4 show">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        Filtros Disponibles
      </button>
      <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton"
        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -105px, 0px);"
        x-placement="top-start">
        <div class="dropdown-header">ESTIMACION CLIMATICA SEGUN:</div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'estimacion_climatica' query='mm_lluvia' %}">Mm. Lluvia</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'estimacion_climatica' query='temperatura_maxima' %}">Temp. Maxima</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
  </div>
</div>


<div class="row">

</div>
<div class="col-xl-8 col-md-6 col-sm-6">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> Modelo de Estimacion</h6>
    </div>
    <div class="card-body">
      <canvas id="canvas" style="display: block; width: 500px; height: 350px;" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
</div>

{% autoescape off %}
<script>
  var datos_sonda = {{ datos_sonda| safe}}
  var datos_prediccion = {{ datos_prediccion| safe}}
  var intervalo_bajo = {{ intervalo_bajo| safe}}
  var intervalo_alto = {{ intervalo_alto| safe}}
</script>
{% endautoescape %}

<script>

  var ctx = document.getElementById("canvas");
  var color = ["#ff6384", "#5959e6", "#2babab", "#8c4d15", "#8bc34a", "#607d8b", "#009688"];
  const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

  var scatterChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: "{{label_estimacion}}",
        backgroundColor: "#ff4928",
        borderColor: "#ff4928",
        pointBackgroundColor: "#ff4928",
        pointBorderColor: "#ff4928",
        pointHoverBackgroundColor: "#ff4928",
        pointHoverBorderColor: "#ff4928",
        data: datos_prediccion,
        fill: false,
      },
      {
        label: "{{label_datos}}",
        backgroundColor: "transparent",
        borderColor: "#0691d4",
        pointBackgroundColor: "#0691d4",
        pointBorderColor: "#0691d4",
        pointHoverBackgroundColor: "#0691d4",
        pointHoverBorderColor: "#0691d4",
        data: datos_sonda,
        fill: false
      },
      {
        label: "Intervalo Confianza Inf.",
        type: "line",
        backgroundColor: "rgb(70,70,70, 0.5)",
        borderColor: "transparent",
        pointRadius: 0,
        fill: 'origin',
        tension: 0,
        data: intervalo_bajo
      },
      {
        label: "Intervalo Confianza Sup.",
        type: "line",
        backgroundColor: "rgb(70,70,70, 0.5)",
        borderColor: "transparent",
        pointRadius: 0,
        fill: 'origin',
        tension: 0,
        data: intervalo_alto
      }
      ]
    },
    options: {
      legend: {
        display: true,
        position: "bottom"
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            displayFormats: {
              'millisecond': 'MM/YY',
              'second': 'MM/YY',
              'minute': 'MM/YY',
              'hour': 'MM/YY',
              'day': 'MM/YY',
              'week': 'MM/YY',
              'month': 'MM/YY',
              'quarter': 'MM/YY',
              'year': 'MM/YY',
            },
            tooltipFormat: "D/M/Y"
          }
        }]
      },
      tooltips: {
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        callbacks: {
          title: function (tooltipItems, data) {
            var dia = tooltipItems[0].xLabel.split('/')[0]
            var mes = meses[tooltipItems[0].xLabel.split('/')[1]]
            var año = tooltipItems[0].xLabel.split('/')[2]
            return dia + ' de ' + mes + ' de ' + año;
          },
          label: function (tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': ' + tooltipItem.yLabel.toFixed(2) + 'mm';
          }
        }
      },
      gridLines: {
        color: "rgb(234, 236, 244)",
        zeroLineColor: "rgb(234, 236, 244)",
        drawBorder: false,
        borderDash: [2],
        zeroLineBorderDash: [2]
      },
    }
  });
</script>




{% endblock %}