{% extends 'site_content.html' %}
{% load static %}


{% block site_content %}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="p-5">
                        <div class="text-center">
                            <img alt="Responsive image" style="width:10%" class="img-fluid img-profile rounded-circle"
                                src="{% static 'img/undraw_profile.svg' %}">
                            <h1 class="h4 text-gray-900 mb-4">Mi Perfil</h1>
                            <a href="{% url 'edicion' %}">Editar Datos</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <h1 class="h4 text-gray-900 mb-4 text-center">Datos Personales</h1>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 col-md-6 control-label text-right">
                            DNI:
                        </label>
                        {{usuario.documento}}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 col-md-6 control-label text-right">
                            Nombre:
                        </label>
                        {{usuario.nombre}}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 col-md-6 control-label text-right">
                            Apellido:
                        </label>
                        {{usuario.apellido}}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 col-md-6 control-label text-right">
                            Fecha Nacimiento:
                        </label>
                        {{usuario.fecha_nacimiento}}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <h1 class="h4 text-gray-900 mb-4 text-center">Datos del Campo</h1>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-6 col-md-6 control-label text-right">
                            Nombre del campo:
                        </label>
                        {{campo.nombre}}
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 col-md-6 control-label text-right">
                            Cantidad de hectareas:
                        </label>
                        {{campo.cant_hectareas}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}