{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">¿Cómo está mi campo?</h1>
</div>
<div class="card text-center">
    <ul class="list-group">
        <li class="list-group-item">
            Rinde
            <a class="btn btn-primary" href="{% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
        <li class="list-group-item">
            Mejor Finura Peor Finura
            <a class="btn btn-primary" href="{% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
        <li class="list-group-item">
            Filtrar Cantidad de lana
            <a class="btn btn-primary" href="{% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
        <li class="list-group-item">
            <button class="btn" type=" button">
                Mejor Mortandad
            </button>
            <button class="btn" type="button">
                Peor Mortandad
            </button>
            <a class="btn btn-primary" href=" {% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
        <li class="list-group-item">
            Cantidad de corderos
            <a class="btn btn-primary" href="{% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
        <li class="list-group-item">
            Cantidad de Hacienda
            <a class="btn btn-primary" href="{% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
        <li class="list-group-item">
            Cantidad de Pariciones
            <a class="btn btn-primary" href="{% url 'mi_campo' %}">
                <i class="fas fa-search fa-sm"></i>
            </a>
        </li>
    </ul>

</div>
{% endblock %}