{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Estimaciones ML</h1>
</div>
<p class="mb-4"> Modelos de machine learning sobre variables productivas</p>
<hr class="sidebar-divider my-0">
<br>


<div class="row py-3">
  <div class="col-xl-6 col-md-6 col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> {{lana.title}} </h6>
      </div>
      <div class="container-fluid">
        <div class="card-body row">
          <div class="col-12">
              <canvas id="canvasLana" class="chartjs-render-monitor"></canvas>
          </div>
          <div class="col-12 py-3">
              <span>Exactitud de la predicción: {{lana.metrica}} % </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-6 col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> {{corderos.title}} </h6>
      </div>
      <div class="container-fluid">
        <div class="card-body row">
          <div class="col-12">
              <canvas id="canvasCordero" class="chartjs-render-monitor"></canvas>
          </div>
          <div class="col-12 py-3">
              <span>Exactitud de la predicción: {{corderos.metrica}}% </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-6 col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> {{finura.title}} </h6>
      </div>
      <div class="container-fluid">
        <div class="card-body row">
          <div class="col-12">
              <canvas id="canvasFinura" class="chartjs-render-monitor"></canvas>
          </div>
          <div class="col-12 py-3">
              <span>Exactitud de la predicción: {{finura.metrica}}% </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-6 col-sm-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> {{rinde.title}} </h6>
      </div>
      <div class="container-fluid">
        <div class="card-body row">
          <div class="col-12">
              <canvas id="canvasRinde" class="chartjs-render-monitor"></canvas>
          </div>
          <div class="col-12 py-3">
              <span>Exactitud de la predicción: {{rinde.metrica}}% </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/graficos_modelos.js' %}"></script>
<script>
    var lana = JSON.parse('{{lana.data|safe}}')
    crear_grafico_lineas(lana.label, lana.y_real, lana.y_prediccion, "canvasLana")
    
    var corderos = JSON.parse('{{corderos.data|safe}}')
    crear_grafico_lineas(corderos.label, corderos.y_real, corderos.y_prediccion, "canvasCordero")

    var finura = JSON.parse('{{finura.data|safe}}') 
    const y_prediccion_finura = completar_data(finura.label_real, finura.y_prediccion)
    const label_finura = armar_labels(finura.label_real,finura.label_prediccion)
    crear_grafico_lineas(label_finura, finura.y_real, y_prediccion_finura, "canvasFinura")

    var rinde = JSON.parse('{{rinde.data|safe}}') 
    const y_prediccion_rinde = completar_data(rinde.label_real, rinde.y_prediccion)
    const label_rinde = armar_labels(rinde.label_real,rinde.label_prediccion)
    crear_grafico_lineas(label_rinde, rinde.y_real, y_prediccion_rinde, "canvasRinde")

</script>
{% endblock %}
