{% extends "base.html" %}
{% load static %}


{% block body_base %}

<body class="bg-gradient-info">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block">
                        <img class="img-thumbnail mx-auto border-0" src="{% static 'img/sheep-2.jpg' %}">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear nueva cuenta</h1>
                            </div>
                            <form class="user" method='POST' action="{% url 'registro' %}">
                                {% csrf_token %}
                                <h5 class="h6 text-gray-900 mb-6">Datos Personales</h5>

                                <div class="form-group">
                                    {{form.nombre}}
                                    {% if form.nombre.errors %}
                                    {% for error in form.nombre.errors %}
                                    <ul>
                                        <li><span class="text-danger">{{ error }}</span></li>
                                    </ul>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{form.apellido}}
                                    {% if form.apellido.errors %}
                                    {% for error in form.apellido.errors %}
                                    <ul>
                                        <li><span class="text-danger">{{ error }}</span></li>
                                    </ul>
                                    {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.documento}}
                                        {% if form.documento.errors %}
                                        {% for error in form.documento.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.fecha_nacimiento}}
                                        {% if form.fecha_nacimiento.errors %}
                                        {% for error in form.fecha_nacimiento.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.username}}
                                        {% if form.username.errors %}
                                        {% for error in form.username.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.email}}
                                        {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.password1}}
                                        {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form.password2}}
                                    </div>
                                </div>
                                <br>
                                <!-- Datos del CAMPO -->
                                <h5 class="h6 text-gray-900 mb-6">Datos del Campo</h5>

                                <div class="form-group row">
                                    <div class="col-sm-7 mb-3 mb-sm-0">
                                        {{form.nombre_campo}}
                                        {% if form.nombre_campo.errors %}
                                        {% for error in form.nombre_campo.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        {{form.cant_hectareas}}
                                        {% if form.cant_hectareas.errors %}
                                        {% for error in form.cant_hectareas.errors %}
                                        <ul>
                                            <li><span class="text-danger">{{ error }}</span></li>
                                        </ul>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <br>
                                <button class="btn btn-primary btn-user btn-block">
                                    Registrarse
                                </button>
                                <hr>
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Ya tiene una cuenta? Inicie Sesion!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}