{% extends 'site_content.html' %}
{% load static %}

<!-- Escribir en este bloque todo lo que haga falta-->
{% block site_content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">¿Cómo está mi campo?</h1>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="mejor-rinde-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Mejor Rinde</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="peor-rinde-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Peor Rinde</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="mejor-rinde" role="tabpanel" aria-labelledby="mejor-rinde-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Enero</h6>
                                </div>
                                <div class="card-body">
                                    <img class="img-thumbnail mx-auto border-0" style="width: 10rem;"
                                        src="{% static 'img/soleado.svg' %}" alt="...">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Max {{enero.dia1.tmpmax}}°
                                                </h6>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Min {{enero.dia1.tmpmin}}°
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="card-link">Ver mes</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Febrero</h6>
                                </div>
                                <div class="card-body">
                                    <img class="img-thumbnail mx-auto border-0" style="width: 10rem;"
                                        src="{% static 'img/parcialmente_soleado.svg' %}" alt="...">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Max {{febrero.dia1.tmpmax}}°
                                                </h6>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Min {{febrero.dia1.tmpmin}}°
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="card-link">Ver mes</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Marzo</h6>
                                </div>
                                <div class="card-body">
                                    <img class="img-thumbnail mx-auto border-0" style="width: 10rem;"
                                        src="{% static 'img/lluvia.svg' %}" alt="...">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Max {{enero.dia1.tmpmax}}°
                                                </h6>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Min {{enero.dia1.tmpmin}}°
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="card-link">Ver mes</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Abril</h6>
                                </div>
                                <div class="card-body">
                                    <img class="img-thumbnail mx-auto border-0" style="width: 10rem;"
                                        src="{% static 'img/nube.svg' %}" alt="...">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Max {{enero.dia1.tmpmax}}°
                                                </h6>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Min {{enero.dia1.tmpmin}}°
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="card-link">Ver mes</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Mayo</h6>
                                </div>
                                <div class="card-body">
                                    <img class="img-thumbnail mx-auto border-0" style="width: 10rem;"
                                        src="{% static 'img/relampago.svg' %}" alt="...">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Max {{enero.dia1.tmpmax}}°
                                                </h6>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Min {{enero.dia1.tmpmin}}°
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="card-link">Ver mes</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Junio</h6>
                                </div>
                                <div class="card-body">
                                    <img class="img-thumbnail mx-auto border-0" style="width: 10rem;"
                                        src="{% static 'img/parcialmente_soleado.svg' %}" alt="...">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Max {{enero.dia1.tmpmax}}°
                                                </h6>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <h6 class="card-subtitle mb-2 text-muted">Min {{enero.dia1.tmpmin}}°
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="card-link">Ver mes</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!--Seleccion de Mapa-->
                <div class="card-header py-3" style="text-align: left;">
                    <h6 class="m-0 font-weight-bold text-primary">Seleccione una de las sondas marcadas en el mapa para
                        utilizar sus datos historicos.</h6>
                </div>
                <div class="card-body">
                    <div id="map" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>

{% endblock %}