{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <div class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Nombre App</div>
    </div>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'inicio' %}">
        <i class="fas fa-home"></i>
        <div class="sidebar-brand-text mx-3"> INICIO </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading"><br>Carga de datos</div>

    <!-- Nav Item - Novedades Carga de Datos -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'carga_datos_climaticos' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Alta datos climaticos</span>
        </a>
        <a class="nav-link" href="{% url 'carga_datos_produccion' %}">
            <i class="fas fa-fw fa-cloud-upload-alt"></i>
            <span>Alta datos de producción</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Heading -->
    <div class="sidebar-heading"><br>Mi campo</div>

    <!-- Nav Item - Novedades Mi campo -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'mi_campo' %}">
            <i class="fa fa-chart-bar"></i>
            <span>¿Como esta mi campo?</span>
        </a>
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cloud-sun"></i>
            <span>Predicción Climatica</span>
        </a>
    </li>

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->